{% extends "website/base.html" %}
{% load static %}
{% block content %}
{% load urlgen %}


<!-- Start Breadcrumb Area  -->
<div class="axil-breadcrumb-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="inner">
                    <h1 class="title">Alle voeding voor uw hond</h1>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <p>
                    Ontdek het uitgebreide assortiment aan hondenvoeding en geef jouw hond alles wat hij nodig heeft om gelukkig en gezond te zijn.<br>
                    Hou rekening bij het kiezen van hondenvoer met verschillende factoren zoals de levensfase, de grootte en het activiteitsniveau.<br>
                    Daarnaast kunnen de de ingrediënten en voedingsstoffen ook essentieel om te kiezen voor een gezonde en smakelijke maaltijd.<br>
                    Overleg eventueel met je dierenarts voor advies op maat.
                </p>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="inner">
                    <div class="bradcrumb-thumb">
                        <img src="{% static 'website/images/dog-icon.svg' %}" alt="Image" style="max-height:100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area  -->

<!-- Start Shop Area  -->
<div class="axil-shop-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="axil-shop-sidebar">
                    <div class="toggle-list product-categories active">
                        <h6 class="title">Productsoort</h6>
                        <div class="shop-submenu">
                            <ul>
                                {% for kategorie in categorys %}
                                    <li{% if category == kategorie %} class="current-cat"{% endif %}>
                                        <a href="{% url 'website:hond-algemeen' %}{% urlstr "category" kategorie "age_group" age_group "brand" brand "sort_by" sort_by %}" class="niet-verwijder">{{ kategorie }}</a>
                                    </li>
                                {% endfor %}
                                {% if category %}<li><a href="{% url 'website:hond-algemeen' %}{% urlstr "age_group" age_group "brand" brand "sort_by" sort_by %}" style="color:red;">Verwijder filter</a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="toggle-list product-categories active">
                        <h6 class="title">Leeftijdsgroep</h6>
                        <div class="shop-submenu">
                            <ul>
                                {% for leeftijd in age_groups %}
                                    <li{% if age_group == leeftijd %} class="current-cat"{% endif %}>
                                        <a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" leeftijd "brand" brand "sort_by" sort_by %}" class="niet-verwijder">{{ leeftijd }}</a>
                                    </li>
                                {% endfor %}
                                {% if age_group %}<li><a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "brand" brand "sort_by" sort_by %}" style="color:red;">Verwijder filter</a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="toggle-list product-categories active">
                        <h6 class="title">Merk</h6>
                        <div class="shop-submenu">
                            <ul>
                                {% for merk in brands %}
                                    <li{% if brand == merk %} class="current-cat"{% endif %}>
                                        <a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" merk "sort_by" sort_by %}" class="niet-verwijder">{{ merk }}</a>
                                    </li>
                                {% endfor %}
                                {% if brand %}<li><a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "sort_by" sort_by %}" style="color:red;">Verwijder filter</a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                    <a href="{% url 'website:hond-algemeen' %}"><button class="axil-btn btn-bg-primary">Reset alle filters</button></a>
                </div>
                <!-- End .axil-shop-sidebar -->
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="axil-shop-top mb--10">
                            <div
                                class="category-select align-items-center justify-content-lg-end justify-content-between">
                                <!-- Start Single Select  -->
                                <span class="filter-results">{{ count }} producten gevonden</span>
                                <div class="btn-group">
                                    <button id="new-button"type="button" class="btn dropdown-toggle sort-button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Sorteer op
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                      <li class="dropdown-space"><a class="dropdown-item" href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" "discount" %}">Meeste korting</a></li>
                                      <li class="dropdown-space"><a class="dropdown-item" href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" "low_price" %}">Laagste prijs</a></li>
                                      <li class="dropdown-space"><a class="dropdown-item" href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" "high_price" %}">Hoogste prijs</a></li>
                                      <li class="dropdown-space"><a class="dropdown-item" href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" "most_recent" %}">Meest recent</a></li>
                                    </ul>
                                  </div>
                                  
                                
                            </div>
                            <div class="d-lg-none">
                                <button class="product-filter-mobile filter-toggle"><i class="fas fa-filter"></i>
                                    FILTER</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .row -->
                <div class="row row--15">
                    {% for product in products %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6 col-6">
                        <div class="axil-product product-style-one mb--30">
                            <div class="thumbnail">
                                <a href="{{ product.product_page_url }}">
                                    <img src="{{ product.image.url }}" alt="Product Images">
                                </a>
                                {% if product.sale != 0.0 %}
                                <div class="label-block label-right">
                                    <div class="product-badget">
                                        {{ product.sale }}% korting
                                    </div>
                                </div>
                                {% endif%}
                            </div>
                            <div class="product-content">
                                <div class="inner">
                                    <p class="brandname">{{ product.brand }}</p>
                                    <h5 class="title titelproduct"><a href="{{ product.product_page_url }}">{{ product.product_title}}</a></h5>
                                    <p class="product-category">{{ product.category }} | {{ product.age_group }}</p>
                                    <div class="product-price-variant">
                                        {% if product.sale_price != product.normal_price %}
                                        <span class="price old-price">
                                            €{{ product.normal_price|floatformat:"2" }}
                                        </span>
                                        {% endif %}
                                        <span class="price current-price">€{{ product.sale_price|floatformat:"2" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End Single Product  -->
                </div>
                <div class="pagination" style="float:right; display:flex; align-items:center; justify-content:center;">
                        {% if page_obj.has_previous %}
                            {% if page_obj.previous_page_number != 1 %}
                                <button class="page-button"><a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" sort_by %}">&laquo;1</a></button>
                            {% endif %}
                            <button class="page-button"><a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" sort_by "page" page_obj.previous_page_number%}">{{ page_obj.previous_page_number }}</a></button>
                        {% endif %}
            
                        {% if count > 0 %}<button class="page-button-active">{{ page_obj.number }}</button>{% endif %}

                        {% if page_obj.number < max_pages %}
                            {% if page_obj.has_next %}
                                <button class="page-button"><a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" sort_by "page" page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></button>
                                {% if page_obj.next_page_number != max_pages %}
                                    <button class="page-button"><a href="{% url 'website:hond-algemeen' %}{% urlstr "category" category "age_group" age_group "brand" brand "sort_by" sort_by "page" max_pages %}">{{ max_pages }}&raquo;</a></button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- End .container -->
</div>

<!-- End Shop Area  -->
{% endblock content %}