{% extends "website/base.html" %}
{% load static %}
{% block content %}

<!-- Start Breadcrumb Area  -->
<div class="axil-breadcrumb-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="inner">
                    <h1 class="title">Over deze website</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area  -->

<div class="axil-about-area about-style-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary2"><i class="fas fa-trophy"></i>Onze ambitie</span>
                    <h2 class="title">Wat wij willen.</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">1.</div>
                            <h4 class="title">Alleen het allerbeste.</h4>
                            <p>De gezondheid en het welzijn van jouw trouwe huisdier staan natuurlijk op nummer één. Om die reden zoeken we alleen naar producten van de beste kwaliteit.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">2.</div>
                            <h4 class="title">Het gemakkelijk houden.</h4>
                            <p>Wij begrijpen dat het bijhouden van de beste plek om dierenvoeding te kopen veel tijd en energie kan kosten. Daarom nemen wij deze taak graag van je over!</p>
                            {% comment %} <p>Wij begrijpen dat het veel tijd en energie kan kosten om telkens bij te houden waar je nu het beste jouw dierenvoeding kan kopen, daarom doen wij dit voor jou!</p> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">3.</div>
                            <h4 class="title">De voordeligste opties.</h4>
                            <p>Blijf altijd op de hoogte van de beste deals en mooiste aanbiedingen. Wij tracken het meest recente aanbod van de verschillende aanbieders, dus je hoeft niks te missen!</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">4.</div>
                            <h4 class="title">Plezier met je huisdier.</h4>
                            <p>Wij streven ernaar om zowel de eigenaar als het huisdier tevreden te stellen, zodat jullie optimaal van de tijd samen kunnen genieten.</p>
                        </div>
                    </div>
                </div>
            </div>            
            {% comment %} <div class="col-lg-7">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary2"><i class="fal fa-star"></i>About
                        Us</span>
                    <h2 class="title">Wie zijn wij</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">1.</div>
                            <h4 class="title">Wie zijn wij</h4>
                            <p>Wij zijn een team van dierenliefhebbers met een passie voor het verstrekken van de beste voeding voor jouw huisdieren.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">2.</div>
                            <h4 class="title">Wat doen wij</h4>
                            <p>Wij bieden een uitgebreide selectie van kwalitatief hoogwaardige diervoeding, samengesteld door deskundige voedingsdeskundigen, om de gezondheid en het welzijn van jouw huisdieren te verbeteren.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">3.</div>
                            <h4 class="title">Hoe helpen wij</h4>
                            <p>Wij helpen jou om de juiste voeding voor jouw huisdieren te vinden door deskundig advies en informatie te verstrekken over de voedingsbehoeften van verschillende soorten dieren.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">4.</div>
                            <h4 class="title">Creëer succesverhalen</h4>
                            <p>Onze focus ligt op het helpen van huisdiereneigenaren om hun huisdieren gezond en gelukkig te houden door middel van kwalitatief hoogwaardige voeding en deskundig advies.</p>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-lg-5">
                <div class="about-gallery">
                    <div class="row row--10">
                        <div class="col-6">
                            <div class="thumbnail thumbnail-1">
                                <img src="{% static 'website/images/overons/kat-2.jpg' %}" alt="About">
                            </div>
                            <div class="thumbnail thumbnail-2">
                                <img src="{% static 'website/images/overons/kat-1.jpg' %}" alt="About">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="thumbnail thumbnail-3">
                                <img src="{% static 'website/images/overons/hond-1.jpg' %}" alt="About">
                            </div>
                            <div class="thumbnail thumbnail-4">
                                <img src="{% static 'website/images/overons/hond-2.jpg' %}" alt="About">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start About Area  -->
<div class="axil-about-area about-style-2 axil-section-gap ">
    <div class="container">
        <div class="row align-items-center mb--80 mb_sm--60">
            <div class="col-lg-5">
                <div class="about-thumbnail">
                    <img src="{% static 'website/images/overons/overons.jpg' %}" alt="about">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-content content-right">
                    <span class="title-highlighter highlighter-primary"><i class="fas fa-th-large"></i>Onze aanpak</span>
                    <h4 class="title">Alle producten op 1 plek</h4>
                    <p>Wij bieden jou een overzichtelijke plek voor jouw dierenvoeding, door verschillende aanbieders samen te brengen en hun producten te tonen. 
                        Onze geavanceerde applicatie verzamelt deze informatie en levert deze rechtstreeks aan jou.
                        Onze website is gebouwd met de meest betrouwbare en geavanceerde technologieën, waaronder Python en Django, om jou de best mogelijke ervaring te bieden.
                    </p>
                    <a href="{% url 'website:petfood-home' %}" class="axil-btn btn-outline">Ontdek nu</a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 order-lg-2">
                <div class="about-thumbnail">
                    <img src="{% static 'website/images/overons/overons2.jpg' %}" alt="about">
                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="about-content content-left">
                    <span class="title-highlighter highlighter-primary2"><i class="fas fa-handshake"></i>Onze kracht</span>
                    <h4 class="title">Samenwerking voor de beste deals</h4>                
                    {% comment %} <h4 class="title">De beste producten direct beschikbaar</h4> {% endcomment %}
                    <p>Wij streven ernaar om door middel van nauwe samenwerking met leveranciers een breed scala aan producten en de beste deals rechtstreeks aan jou te presenteren. 
                        We zijn aangesloten bij officiële affiliate programma's, zoals Awin, om de connectie met bedrijven te waarborgen. 
                        Bovendien zijn wij altijd op zoek naar speciale kortingen en aanbiedingen om jou als bezoeker van onze website nog meer te bieden. 
                        Onze website biedt een unieke online winkelervaring voor alle dierenliefhebbers. 
                    </p>
                    <a href="{% url 'website:aanbiedingen-algemeen' %}" class="axil-btn btn-outline">Bekijk onze deals</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area  -->

<!-- End About Area  -->
{% endblock content %}